BondShopper.ClientApp/Connected Services/BondShopper1/BondService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BondService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BondShopper.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBondService_GetBonds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBonds" />
  </wsdl:message>
  <wsdl:message name="IBondService_GetBonds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBondsResponse" />
  </wsdl:message>
  <wsdl:message name="IBondService_AddBond_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBond" />
  </wsdl:message>
  <wsdl:message name="IBondService_AddBond_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBondResponse" />
  </wsdl:message>
  <wsdl:message name="IBondService_DeleteBond_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBond" />
  </wsdl:message>
  <wsdl:message name="IBondService_DeleteBond_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBondResponse" />
  </wsdl:message>
  <wsdl:message name="IBondService_UpdateBond_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBond" />
  </wsdl:message>
  <wsdl:message name="IBondService_UpdateBond_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBondResponse" />
  </wsdl:message>
  <wsdl:portType name="IBondService">
    <wsdl:operation name="GetBonds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/GetBonds" message="tns:IBondService_GetBonds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/GetBondsResponse" message="tns:IBondService_GetBonds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBond">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/AddBond" message="tns:IBondService_AddBond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/AddBondResponse" message="tns:IBondService_AddBond_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBond">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/DeleteBond" message="tns:IBondService_DeleteBond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/DeleteBondResponse" message="tns:IBondService_DeleteBond_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBond">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/UpdateBond" message="tns:IBondService_UpdateBond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/UpdateBondResponse" message="tns:IBondService_UpdateBond_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBondService" type="tns:IBondService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBonds">
      <soap:operation soapAction="http://tempuri.org/IBondService/GetBonds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBond">
      <soap:operation soapAction="http://tempuri.org/IBondService/AddBond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBond">
      <soap:operation soapAction="http://tempuri.org/IBondService/DeleteBond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBond">
      <soap:operation soapAction="http://tempuri.org/IBondService/UpdateBond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BondService">
    <wsdl:port name="BasicHttpBinding_IBondService" binding="tns:BasicHttpBinding_IBondService">
      <soap:address location="http://localhost:2112/BondShopperService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>