BondShopper.ClientApp/Connected Services/BondShopperService/BondService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BondService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IBondService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BondShopper.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBondService_GetBonds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBonds" />
  </wsdl:message>
  <wsdl:message name="IBondService_GetBonds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBondsResponse" />
  </wsdl:message>
  <wsdl:message name="IBondService_AddBond_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBond" />
  </wsdl:message>
  <wsdl:message name="IBondService_AddBond_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBondResponse" />
  </wsdl:message>
  <wsdl:message name="IBondService_DeleteBond_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBond" />
  </wsdl:message>
  <wsdl:message name="IBondService_DeleteBond_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBondResponse" />
  </wsdl:message>
  <wsdl:message name="IBondService_UpdateBond_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBond" />
  </wsdl:message>
  <wsdl:message name="IBondService_UpdateBond_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBondResponse" />
  </wsdl:message>
  <wsdl:portType name="IBondService">
    <wsdl:operation name="GetBonds">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/GetBonds" message="tns:IBondService_GetBonds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/GetBondsResponse" message="tns:IBondService_GetBonds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBond">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/AddBond" message="tns:IBondService_AddBond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/AddBondResponse" message="tns:IBondService_AddBond_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBond">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/DeleteBond" message="tns:IBondService_DeleteBond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/DeleteBondResponse" message="tns:IBondService_DeleteBond_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBond">
      <wsdl:input wsaw:Action="http://tempuri.org/IBondService/UpdateBond" message="tns:IBondService_UpdateBond_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBondService/UpdateBondResponse" message="tns:IBondService_UpdateBond_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBondService" type="tns:IBondService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBonds">
      <soap:operation soapAction="http://tempuri.org/IBondService/GetBonds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBond">
      <soap:operation soapAction="http://tempuri.org/IBondService/AddBond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBond">
      <soap:operation soapAction="http://tempuri.org/IBondService/DeleteBond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBond">
      <soap:operation soapAction="http://tempuri.org/IBondService/UpdateBond" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IBondService" type="tns:IBondService">
    <wsp:PolicyReference URI="#NetTcpBinding_IBondService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetBonds">
      <soap12:operation soapAction="http://tempuri.org/IBondService/GetBonds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBond">
      <soap12:operation soapAction="http://tempuri.org/IBondService/AddBond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBond">
      <soap12:operation soapAction="http://tempuri.org/IBondService/DeleteBond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBond">
      <soap12:operation soapAction="http://tempuri.org/IBondService/UpdateBond" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BondService">
    <wsdl:port name="BasicHttpBinding_IBondService" binding="tns:BasicHttpBinding_IBondService">
      <soap:address location="http://localhost:2112/bondservice" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IBondService" binding="tns:NetTcpBinding_IBondService">
      <soap12:address location="net.tcp://localhost:2113/Bondservice" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:2113/Bondservice</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>PC2\Otto</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>