BondShopper.ClientApp/Connected Services/BondShopperService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BondShopper.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BondShopper.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBond">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bond" nillable="true" type="tns:Bond" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBond" nillable="true" type="tns:ArrayOfBond" />
  <xs:complexType name="Bond">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InterestCouponRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaturityInMonths" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Principal" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bond" nillable="true" type="tns:Bond" />
</xs:schema>